{% extends "staff/staff_base.html" %}

{% block title %}
Edit Guide
{% endblock title %}

{% block active_guide %}active{% endblock active_guide %}
{% block active_guide_show %}show active{% endblock active_guide_show %}

{% block manage_guide %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
    <div class="col">
        <form id="edit_guide_form" method="POST" action="{{ url_for('staff.staff_manage_guide_update', agriculture_id=agriculture_item.agriculture_id) }}">
{#            <select class="form-select mb-3" aria-label="Default select example" name="item_type">#}
{#              <option value="pest" {% if agriculture_item.item_type == 'pest' %}selected{% endif %}>pest</option>#}
{#              <option value="weed" {% if agriculture_item.item_type == 'weed' %}selected{% endif %}>weed</option>#}
{#            </select>#}
            <div class="input-group mb-3">
                <span class="input-group-text">
                    Item Type
                </span>
                <select class="form-select" aria-label="Default select example" name="item_type">
                  <option value="pest" {% if agriculture_item.item_type == 'pest' %}selected{% endif %}>pest</option>
                  <option value="weed" {% if agriculture_item.item_type == 'weed' %}selected{% endif %}>weed</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    Common Name
                </span>
                <input type="text" name="common_name" id="common_name" aria-label="common_name" class="form-control" placeholder="common_name" value="{{ agriculture_item.common_name }}" required>
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                    Scientific Name
                </span>
                  <textarea  rows="3" name="scientific_name" id="scientific_name" aria-label="scientific_name" placeholder="scientific_name" class="form-control" required>
                      {{ agriculture_item.scientific_name }}
                  </textarea>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                    Key Characteristics
                </span>
                  <textarea  rows="5" name="key_characteristics" id="key_characteristics" aria-label="key_characteristics" placeholder="key_characteristics" class="form-control" required>
                      {{ agriculture_item.key_characteristics }}
                  </textarea>
              </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        Biology
                    </span>
                  <textarea  rows="10" name="biology" id="biology" aria-label="biology" placeholder="biology" class="form-control" required>
                      {{ agriculture_item.biology }}
                  </textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        Impacts
                    </span>
                  <textarea  rows="10" name="impacts" id="impacts" aria-label="impacts" placeholder="impacts" class="form-control" required>
                      {{ agriculture_item.impacts }}
                  </textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        Control
                    </span>
                  <textarea  rows="10" name="control" id="control" aria-label="control" placeholder="control" class="form-control" required>
                      {{ agriculture_item.control }}
                  </textarea>
                </div>
{#                <div class="input-group mb-2">#}
{#                    <select class="form-select" aria-label="select example">#}
{#                      <option value="">is primary image</option>#}
{#                      <option value="">is not primary image</option>#}
{#                    </select>#}
{#                    <span class="input-group-text">#}
{#                        image_path#}
{#                    </span>#}
{#                  <textarea name="image_path" id="image_path" aria-label="image_path" placeholder="Accept URL only. " class="form-control" required></textarea>#}
{#                </div>#}


                    {% for image in images %}
                      <div class="input-group mb-3">
                        <select class="form-select" name="is_primary_{{ loop.index }}" aria-label="select example">
                          <option value="1" {% if image.is_primary %}selected{% endif %}>is primary image</option>
                          <option value="0" {% if not image.is_primary %}selected{% endif %}>is not primary image</option>
                        </select>
                        <span class="input-group-text">Image Path</span>
                        <textarea name="image_path_{{ loop.index }}" id="image_path_{{ loop.index }}" aria-label="image_path" placeholder="Accept URL only." class="form-control" required>
                          {{ image.image_path }}
                        </textarea>
                        <img src="{{ image.image_path }}" alt="" style="width: 10rem;">
                      </div>
                    {% endfor %}

{#                <button type="button" id="edit_guide_image" class="btn btn-outline-warning">#}
{#                    + Add more images#}
{#                </button>#}
            <button type="submit" form="edit_guide_form" id="edit_guide_confirm" class="btn btn-outline-primary">
                Edit Guide
            </button>
        </form>
    </div>
</div>





{% endblock manage_guide %}

{% block scripts %}
{% endblock scripts %}