{% extends "admin/admin_base.html" %}

{% block title %}
Manage Staff
{% endblock title %}

{% block active_staff %}active{% endblock active_staff %}
{% block active_staff_show %}show active{% endblock active_staff_show %}

{% block manage_staff %}

<div class="row mb-4">
    <div class="col">
        <button type="button" id="add_staff" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#add_staff_staticBackdrop" aria-controls="add_staff_staticBackdrop">
            Add Staff
        </button>
    </div>
    <div class="col">
        <button type="button" id="delete_staff" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Delete Staff
        </button>
    </div>
    <div class="col">
        <form method="POST" action="{{ url_for('admin.admin_manage_staff') }}">
            <input type="hidden" name="edit_staff_id" id="edit_staff_id" value="">
            <button type="submit" id="edit_staff" class="btn btn-outline-dark" onclick="editStaff()" disabled>
                Edit Staff
            </button>
        </form>
    </div>
    <div class="col-6">
        <form method="POST" action="{{ url_for('admin.admin_manage_staff') }}">
            <div class="input-group">
                <select class="form-select" id="choose_staff" name="choose_staff">
                    <option value="Choose..." {% if search_field == None %}selected{% endif %}>Choose...</option>
                    <option value="user_id" {% if search_field == 'user_id' %}selected{% endif %}>User ID</option>
                    <option value="username" {% if search_field == 'username' %}selected{% endif %}>Username</option>
                    <option value="staff_number" {% if search_field == 'staff_number' %}selected{% endif %}>Staff Number</option>
                    <option value="first_name" {% if search_field == 'first_name' %}selected{% endif %}>First Name</option>
                    <option value="last_name" {% if search_field == 'last_name' %}selected{% endif %}>Last Name</option>
                    <option value="email" {% if search_field == 'email' %}selected{% endif %}>Email</option>
                    <option value="work_phone_number" {% if search_field == 'work_phone_number' %}selected{% endif %}>Work Phone</option>
                    <option value="hire_date" {% if search_field == 'hire_date' %}selected{% endif %}>Hire Date</option>
                    <option value="position" {% if search_field == 'position' %}selected{% endif %}>Position</option>
                    <option value="department" {% if search_field == 'department' %}selected{% endif %}>Department</option>
                </select>
                <input type="text" class="form-control" placeholder="Fuzzy search support" id="input_staff" name="input_staff" value="{{ search_value }}">
                <button id="search_staff" class="btn btn-outline-primary" type="submit">Search Staff</button>
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
    <div class="container">
        <div class="table-responsive-xxl">
            <table class="table table-success table-striped table-hover table-bordered caption-top" id="staff_table">
                <caption> * Hold down <kbd>Shift</kbd> and use <strong>Mouse Wheel</strong> <span style="font-family: 'Segoe UI Symbol', 'Arial Unicode MS', 'Symbola';">&#128433;</span> to scroll the table left and right. </caption>
              <thead class="table-dark">
                <tr>
                  <th class="text-nowrap">Select</th>
                  <th class="text-nowrap">User ID</th>
                  <th class="text-nowrap">Username</th>
                  <th class="text-nowrap">Role</th>
                  <th class="text-nowrap">Staff Number</th>
                  <th class="text-nowrap">First Name</th>
                  <th class="text-nowrap">Last Name</th>
                  <th class="text-nowrap">Email</th>
                  <th class="text-nowrap">Work Phone</th>
                  <th class="text-nowrap">Hire Date</th>
                  <th class="text-nowrap">Position</th>
                  <th class="text-nowrap">Department</th>
                </tr>
              </thead>
              <tbody class="table-group-divider" id="staff_table_body">
                {% for staff in staff_list %}
                    <tr>
                      <td class="text-nowrap">
                        <form method="POST" action="{{ url_for('admin.delete_staff') }}" class="delete-staff-form">
                            <input type="hidden" name="delete_staff_id" value="{{ staff.user_id }}">
                            <input class="form-check-input delete-staff-radio" type="radio" name="select_staff" id="select_staff_{{ staff.user_id }}" value="{{ staff.user_id }}">
                        </form>
                          <!-- 添加一个隐藏的表单用于提交选中的staff_id -->
                        <form id="edit_staff_form" method="GET" action="{{ url_for('admin.admin_manage_staff') }}" style="display: none;">
                            <input type="hidden" name="selected_staff_id" id="selected_staff_id" value="">
                        </form>
                      </td>
                      <td class="text-nowrap">{{ staff.user_id }}</td>
                      <td class="text-nowrap">{{ staff.username }}</td>
                      <td class="text-nowrap">{{ staff.role_name }}</td>
                      <td class="text-nowrap">{{ staff.staff_number }}</td>
                      <td class="text-nowrap">{{ staff.first_name }}</td>
                      <td class="text-nowrap">{{ staff.last_name }}</td>
                      <td class="text-nowrap">{{ staff.email }}</td>
                      <td class="text-nowrap">{{ staff.work_phone_number }}</td>
                      <td class="text-nowrap">{{ staff.hire_date }}</td>
                      <td class="text-nowrap">{{ staff.position }}</td>
                      <td class="text-nowrap">{{ staff.department }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation example" id="pagination">
      <ul class="pagination justify-content-end">
        {% if page > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=page-1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for i in range(1, total_pages + 1) %}
        <li class="page-item {% if i == page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page < total_pages %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=page+1) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas  offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="add_staff_staticBackdrop" aria-labelledby="add_staff_staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="add_staff_staticBackdropLabel">Add Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <form method="POST" action="{{ url_for('admin.admin_add_staff') }}" id="add_staff_form">

                <div class="row">
                    <div class="col">

                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                            <input value="{{ request.form['username'] if 'username' in request.form }}" type="text" name="username" id="username" aria-label="Username" class="form-control" placeholder="Username" required>
                        </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input value="{{ request.form['password'] if 'password' in request.form }}" type="password" name="password" id="password" aria-label="Password" class="form-control" placeholder="Password" required>
                      </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input value="{{ request.form['first_name'] if 'first_name' in request.form }}" type="text" name="first_name" aria-label="First name" placeholder="First name" class="form-control" required>
                        <input value="{{ request.form['last_name'] if 'last_name' in request.form }}" type="text" name="last_name" aria-label="Last name" placeholder="Last name" class="form-control" required>
                      </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input value="{{ request.form['email'] if 'email' in request.form }}" type="email" aria-label="Email" class="form-control" placeholder="Email" name="email" required>
                      </div>

                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                            <input value="{{ request.form['phone'] if 'phone' in request.form }}" type="tel" aria-label="Phone" class="form-control" placeholder="Phone" id="phone" name="phone" required>
                        </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input value="{{ request.form['position'] if 'position' in request.form }}" type="text" aria-label="Position" class="form-control" placeholder="Position" id="position" name="position" required>
                      </div>

                      <div class="input-group mb-4">
                        <span class="input-group-text">
                        </span>
                        <input value="{{ request.form['department'] if 'department' in request.form }}" type="text" aria-label="Department" class="form-control" placeholder="Department" id="department" name="department" required>
                      </div>

                      <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-outline-success" id="add_staff_button">Add Staff</button>
                      </div>
                    </div>
                </div>
                </form>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas  offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Delete Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="row mb-3">
                <h6> Please confirm this deletion. </h6>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" form="delete_staff_form" id="delete_staff_confirm" class="btn btn-outline-danger" onclick="document.querySelector('.delete-staff-radio:checked').form.submit();">
                        Confirm
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="edit_staff_staticBackdrop" aria-labelledby="edit_staff_staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="edit_staff_staticBackdropLabel">Edit Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="row">
                <div class="col">

                        <form id="edit_staff_form">

                            <div class="input-group mb-2">
                                <span class="input-group-text">
                                    Username
                                </span>
                                <input value="{{ edit_staff.username if edit_staff else '' }}" type="text" name="edit_staff_username" id="edit_staff_username" aria-label="Username" class="form-control" required>
                            </div>

                          <div class="input-group mb-2">
                            <span class="input-group-text">
                                Password
                            </span>
                            <input value="" type="password" name="edit_staff_password" id="edit_staff_password" aria-label="Password" class="form-control" required>
                          </div>

                          <div class="input-group mb-2">
                            <span class="input-group-text">
                                First Name
                            </span>
                            <input value="{{ edit_staff.first_name if edit_staff else '' }}" type="text" name="edit_staff_first_name" aria-label="First name" class="form-control" required>
                            <span class="input-group-text">
                                Last Name
                            </span>
                            <input value="{{ edit_staff.last_name if edit_staff else '' }}" type="text" name="edit_staff_last_name" aria-label="Last name" class="form-control" required>
                          </div>

                          <div class="input-group mb-2">
                            <span class="input-group-text">
                                Email
                            </span>
                            <input value="{{ edit_staff.email if edit_staff else '' }}" type="email" aria-label="Email" class="form-control" id="edit_staff_email" name="edit_staff_email" required>
                          </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">
                                    Work Phone Number
                                </span>
                                <input value="{{ edit_staff.work_phone_number if edit_staff else '' }}" type="tel" aria-label="Phone" class="form-control" id="edit_staff_phone" name="edit_staff_phone" required>
                            </div>

                          <div class="input-group mb-2">
                            <span class="input-group-text">
                                Hire Date
                            </span>
                            <input value="{{ edit_staff.hire_date if edit_staff else '' }}" type="text" aria-label="hire_date" class="form-control" id="edit_staff_hire_date" name="edit_staff_hire_date" required>
                          </div>

                          <div class="input-group mb-2">
                            <span class="input-group-text">
                                Position
                            </span>
                            <input value="{{ edit_staff.position if edit_staff else '' }}" type="text" aria-label="Position" class="form-control" id="edit_staff_position" name="edit_staff_position" required>
                          </div>

                          <div class="input-group mb-4">
                            <span class="input-group-text">
                                Department
                            </span>
                            <input value="{{ edit_staff.department if edit_staff else '' }}" type="text" aria-label="Department" class="form-control" id="edit_staff_department" name="edit_staff_department" required>
                          </div>

                          <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-outline-success" id="edit_staff_button">
                                Edit Staff
                            </button>
                          </div>
                        </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock manage_staff %}



{% block scripts %}
<script>
  // 监听添加员工表单的提交事件
  document.getElementById('add_staff_form').addEventListener('submit', function() {
    // 将offcanvas的打开状态保存到sessionStorage
    sessionStorage.setItem('keepOffcanvasOpen', 'true');
  });

  window.onload = function() {
    // 页面加载完成后，检查sessionStorage中的状态
    var keepOffcanvasOpen = sessionStorage.getItem('keepOffcanvasOpen');
    sessionStorage.removeItem('keepOffcanvasOpen'); // 清除状态，以防止后续的误操作

    // 如果存在flash消息并且keepOffcanvasOpen为'true'，则保持offcanvas打开
    {% with messages = get_flashed_messages(with_categories=true) %}
    if (keepOffcanvasOpen === 'true' && {{ messages|length }} > 0) {
      var addStaffOffcanvas = new bootstrap.Offcanvas(document.getElementById('add_staff_staticBackdrop'));
      addStaffOffcanvas.show();
    }
    {% endwith %}
  }


      function editStaff() {
        var selectedRadio = document.querySelector('input[name="select_staff"]:checked');
        if (!selectedRadio) {
            alert('请先选择一个staff。');
            return;
        }
        document.getElementById('selected_staff_id').value = selectedRadio.value;
        document.getElementById('edit_staff_form').submit();
    }


    // 为所有单选按钮添加事件监听器，以启用编辑按钮
    document.querySelectorAll('input[name="select_staff"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            document.getElementById('edit_staff').disabled = false;
            document.getElementById('edit_staff_id').value = this.value;
        });
    });




</script>
{% endblock scripts %}