{% extends "admin/admin_base.html" %}

{% block title %}
Manage Agronomist
{% endblock title %}

{% block active_agronomist %}active{% endblock active_agronomist %}
{% block active_agronomist_show %}show active{% endblock active_agronomist_show %}

{% block manage_agronomist %}
<div class="row mb-4">
    <div class="col">
        <button type="button" id="add_agronomist" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add_agronomist_staticBackdrop">
            Add Agronomist
        </button>
    </div>
    <div class="col">
        <button type="button" id="delete_agronomist" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Delete Agronomist
        </button>
    </div>
    <div class="col">
        <button type="submit" form="edit_agronomist_form" id="edit_agronomist" class="btn btn-outline-dark">
            Edit Agronomist
        </button>
    </div>

    <div class="col-6">
        <form action="{{ url_for('admin.admin_manage_agronomist') }}" method="GET">
            <div class="input-group">
              <select class="form-select" id="choose_agronomist" name="search_type">
                <option selected value="">Choose...</option>
                <option value="User ID" {% if search_type == "User ID" %}selected{% endif %}>User ID</option>
                <option value="Username" {% if search_type == "Username" %}selected{% endif %}>Username</option>
                <option value="Agronomist ID" {% if search_type == "Agronomist ID" %}selected{% endif %}>Agronomist ID</option>
                <option value="First Name" {% if search_type == "First Name" %}selected{% endif %}>First Name</option>
                <option value="Last Name" {% if search_type == "Last Name" %}selected{% endif %}>Last Name</option>
                <option value="Email" {% if search_type == "Email" %}selected{% endif %}>Email</option>
                <option value="Phone Number" {% if search_type == "Phone Number" %}selected{% endif %}>Phone Number</option>
                <option value="Address" {% if search_type == "Address" %}selected{% endif %}>Address</option>
                <option value="Date Joined" {% if search_type == "Date Joined" %}selected{% endif %}>Date Joined</option>
              </select>
              <input type="text" class="form-control" placeholder="Fuzzy search support"  id="input_agronomist" name="search_query" value="{{ search_query }}">
              <button id="search_agronomist" class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
    <div class="container">
        <div class="table-responsive-xxl">
            <table class="table table-primary table-striped table-hover table-bordered caption-top" id="agronomist_table">
                <caption> * Hold down <kbd>Shift</kbd> and use <strong>Mouse Wheel</strong> <span style="font-family: 'Segoe UI Symbol', 'Arial Unicode MS', 'Symbola';">&#128433;</span> to scroll the table left and right. </caption>
              <thead class="table-dark">
                <tr>
                  <th class="text-nowrap">Select</th>
                  <th class="text-nowrap">User ID</th>
                  <th class="text-nowrap">Username</th>
                  <th class="text-nowrap">Role</th>
                  <th class="text-nowrap">Agronomist ID</th>
                  <th class="text-nowrap">First Name</th>
                  <th class="text-nowrap">Last Name</th>
                  <th class="text-nowrap">Email</th>
                  <th class="text-nowrap">Phone Number</th>
                  <th class="text-nowrap">Address</th>
                  <th class="text-nowrap">Date Joined</th>
                </tr>
              </thead>
              <tbody class="table-group-divider" id="staff_table_body">
                    {% for agronomist in agronomists %}
                        <tr>
                          <td class="text-nowrap">
                            <form method="POST" action="{{ url_for('admin.edit_agronomist') }}">
                              <input type="hidden" name="user_id" value="{{ agronomist.user_id }}">
                              <input class="form-check-input edit-agronomist-radio" type="radio" name="select_agronomist" id="select_agronomist_{{ agronomist.user_id }}" value="{{ agronomist.user_id }}" onchange="this.form.submit()" onclick="document.getElementById('delete_agronomist_user_id').value = this.value;">
                            </form>
                          </td>
                          <td class="text-nowrap">{{ agronomist.user_id }}</td>
                          <td class="text-nowrap">{{ agronomist.username }}</td>
                          <td class="text-nowrap">{{ agronomist.role_name }}</td>
                          <td class="text-nowrap">{{ agronomist.agronomist_id }}</td>
                          <td class="text-nowrap">{{ agronomist.first_name }}</td>
                          <td class="text-nowrap">{{ agronomist.last_name }}</td>
                          <td class="text-nowrap">{{ agronomist.email }}</td>
                          <td class="text-nowrap">{{ agronomist.phone_number }}</td>
                          <td class="text-nowrap">{{ agronomist.address }}</td>
                          <td class="text-nowrap">{{ agronomist.date_joined }}</td>
                        </tr>
                    {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item {% if page <= 1 %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('admin.admin_manage_agronomist', page=page-1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        {% for p in range(1, total_pages + 1) %}
        <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link" href="{{ url_for('admin.admin_manage_agronomist', page=p) }}">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item {% if page >= total_pages %}disabled{% endif %}">

          <a class="page-link" href="{{ url_for('admin.admin_manage_agronomist', page=page+1) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>

<div class="row">
    <div class="col">
        <div class="modal fade" id="add_agronomist_staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title fs-5" id="add_agronomist_staticBackdropLabel">Add Agronomist</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                  <form id="add_agronomist_form" method="POST" action="{{ url_for('admin.add_agronomist') }}">
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="text" name="add_agronomist_username" id="add_agronomist_username" aria-label="Username" class="form-control" placeholder="Username" value="" required>
                    </div>
                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="password" name="add_agronomist_password" id="add_agronomist_password" aria-label="Password" class="form-control" placeholder="Password" value="" required>
                      </div>
                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="text" name="add_agronomist_first_name" id="add_agronomist_first_name" aria-label="First name" placeholder="First name" class="form-control" value="" required>
                        <input type="text" name="add_agronomist_last_name" id="add_agronomist_last_name" aria-label="Last name" placeholder="Last name" class="form-control" value="" required>
                      </div>
                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="email" aria-label="Email" class="form-control" placeholder="Email" name="add_agronomist_email" id="add_agronomist_email" value="" required>
                      </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                            <input type="tel" aria-label="Phone" class="form-control" placeholder="Phone" id="add_agronomist_phone" name="add_agronomist_phone" value="" required>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                          <input type="text" aria-label="Address" class="form-control" placeholder="Address" id="add_agronomist_address" name="add_agronomist_address" value="" required>
                        </div>
                    <button type="submit" form="add_agronomist_form" id="add_agronomist_confirm" class="btn btn-outline-primary">
                        Add Agronomist
                    </button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </form>
{#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>#}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title fs-5" id="staticBackdropLabel">Delete Agronomist</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <h6> Please confirm this deletion. </h6>
                      <div class="modal-footer">
                        <form id="delete_agronomist_form" method="POST" action="{{ url_for('admin.admin_delete_agronomist') }}">
                          <input type="hidden" name="user_id" id="delete_agronomist_user_id" value="">
                          <button type="submit" id="delete_staff_confirm" class="btn btn-outline-danger">
                            Confirm
                          </button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock manage_agronomist %}

{% block scripts %}

{% endblock scripts %}