{% extends "admin/admin_base.html" %}

{% block title %}
Manage Staff
{% endblock title %}

{% block active_staff %}active{% endblock active_staff %}
{% block active_staff_show %}show active{% endblock active_staff_show %}

{% block manage_staff %}

<div class="row mb-4">
    <div class="col">
        <button type="button" id="add_staff" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#add_staff_staticBackdrop" aria-controls="add_staff_staticBackdrop">
            Add Staff
        </button>
    </div>
    <div class="col">
        <button type="button" id="delete_staff" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            Delete Staff
        </button>
    </div>
    <div class="col">
        <button type="button" id="edit_staff" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#edit_staff_staticBackdrop" aria-controls="edit_staff_staticBackdrop">
            Edit Staff
        </button>
    </div>
    <div class="col-6">
        <form method="POST" action="{{ url_for('admin.admin_manage_staff') }}">
            <div class="input-group">
                <select class="form-select" id="choose_staff" name="choose_staff">
                    <option value="Choose..." {% if search_field == None %}selected{% endif %}>Choose...</option>
                    <option value="user_id" {% if search_field == 'user_id' %}selected{% endif %}>User ID</option>
                    <option value="username" {% if search_field == 'username' %}selected{% endif %}>Username</option>
                    <option value="staff_number" {% if search_field == 'staff_number' %}selected{% endif %}>Staff Number</option>
                    <option value="first_name" {% if search_field == 'first_name' %}selected{% endif %}>First Name</option>
                    <option value="last_name" {% if search_field == 'last_name' %}selected{% endif %}>Last Name</option>
                    <option value="email" {% if search_field == 'email' %}selected{% endif %}>Email</option>
                    <option value="work_phone_number" {% if search_field == 'work_phone_number' %}selected{% endif %}>Work Phone</option>
                    <option value="hire_date" {% if search_field == 'hire_date' %}selected{% endif %}>Hire Date</option>
                    <option value="position" {% if search_field == 'position' %}selected{% endif %}>Position</option>
                    <option value="department" {% if search_field == 'department' %}selected{% endif %}>Department</option>
                </select>
                <input type="text" class="form-control" placeholder="Fuzzy search support" id="input_staff" name="input_staff" value="{{ search_value }}">
                <button id="search_staff" class="btn btn-outline-primary" type="submit">Search Staff</button>
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
    <div class="container">
        <div class="table-responsive-xxl">
            <table class="table table-success table-striped table-hover table-bordered caption-top" id="staff_table">
                <caption> * Hold down <kbd>Shift</kbd> and use <strong>Mouse Wheel</strong> <span style="font-family: 'Segoe UI Symbol', 'Arial Unicode MS', 'Symbola';">&#128433;</span> to scroll the table left and right. </caption>
              <thead class="table-dark">
                <tr>
                  <th class="text-nowrap">Select</th>
                  <th class="text-nowrap">User ID</th>
                  <th class="text-nowrap">Username</th>
                  <th class="text-nowrap">Role</th>
                  <th class="text-nowrap">Staff Number</th>
                  <th class="text-nowrap">First Name</th>
                  <th class="text-nowrap">Last Name</th>
                  <th class="text-nowrap">Email</th>
                  <th class="text-nowrap">Work Phone</th>
                  <th class="text-nowrap">Hire Date</th>
                  <th class="text-nowrap">Position</th>
                  <th class="text-nowrap">Department</th>
                </tr>
              </thead>
              <tbody class="table-group-divider" id="staff_table_body">
                {% for staff in staff_list %}
                    <tr>
                      <td class="text-nowrap">
                            <form method="POST" action="{{ url_for('admin.delete_staff') }}" class="delete-staff-form">
                                <input type="hidden" name="delete_staff_id" value="{{ staff.user_id }}">
                                <input class="form-check-input delete-staff-radio" type="radio" name="select_staff" id="select_staff_{{ staff.user_id }}" value="{{ staff.user_id }}">
                            </form>
                      </td>
                      <td class="text-nowrap">{{ staff.user_id }}</td>
                      <td class="text-nowrap">{{ staff.username }}</td>
                      <td class="text-nowrap">{{ staff.role_name }}</td>
                      <td class="text-nowrap">{{ staff.staff_number }}</td>
                      <td class="text-nowrap">{{ staff.first_name }}</td>
                      <td class="text-nowrap">{{ staff.last_name }}</td>
                      <td class="text-nowrap">{{ staff.email }}</td>
                      <td class="text-nowrap">{{ staff.work_phone_number }}</td>
                      <td class="text-nowrap">{{ staff.hire_date }}</td>
                      <td class="text-nowrap">{{ staff.position }}</td>
                      <td class="text-nowrap">{{ staff.department }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation example" id="pagination">
      <ul class="pagination justify-content-end">
        {% if page > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=page-1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for i in range(1, total_pages + 1) %}
        <li class="page-item {% if i == page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page < total_pages %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin.admin_manage_staff', page=page+1) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas  offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="add_staff_staticBackdrop" aria-labelledby="add_staff_staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="add_staff_staticBackdropLabel">Add Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <form method="POST" action="{{ url_for('admin.admin_add_staff') }}">

                <div class="row">
                    <div class="col">

                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                            <input type="text" name="username" id="username" aria-label="Username" class="form-control" placeholder="Username" required>
                            <div id="usernameFeedback" class="invalid-feedback"></div>
                        </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="password" name="password" id="password" aria-label="Password" class="form-control" placeholder="Password" required>
                        <div id="passwordFeedback" class="invalid-feedback"></div>
                      </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="text" name="first_name" aria-label="First name" placeholder="First name" class="form-control" required>
                        <input type="text" name="last_name" aria-label="Last name" placeholder="Last name" class="form-control" required>
                      </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="email" aria-label="Email" class="form-control" placeholder="Email" name="email" required>
                      </div>

                        <div class="input-group mb-2">
                            <span class="input-group-text">
                            </span>
                            <input type="tel" aria-label="Phone" class="form-control" placeholder="Phone" id="phone" name="phone" required>
                        </div>

                      <div class="input-group mb-2">
                        <span class="input-group-text">
                        </span>
                        <input type="text" aria-label="Position" class="form-control" placeholder="Position" id="position" name="position" required>
                      </div>

                      <div class="input-group mb-4">
                        <span class="input-group-text">
                        </span>
                        <input type="text" aria-label="Department" class="form-control" placeholder="Department" id="department" name="department" required>
                      </div>

                      <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-outline-success" id="add_staff_button">Add Staff</button>
                      </div>
                    </div>
                </div>
                </form>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas  offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Delete Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="row mb-3">
                <h6> Please confirm this deletion. </h6>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" form="delete_staff_form" id="delete_staff_confirm" class="btn btn-outline-danger" onclick="document.querySelector('.delete-staff-radio:checked').form.submit();">
                        Confirm
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="offcanvas  offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="edit_staff_staticBackdrop" aria-labelledby="edit_staff_staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="edit_staff_staticBackdropLabel">Edit Staff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="row">
                <div class="col">

                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock manage_staff %}



{% block scripts %}

{% endblock scripts %}