{% extends "base.html" %}

{% block title %}
Administrator Dashboard
{% endblock %}

{% block style %}
    <style>
      .btn-outline-success {
        border: none; /* Remove the border */
      }
    </style>
{% endblock %}

{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('login') }}">Logout</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center border-dark mb-3">
      <div class="card-header">
        <ul class="nav nav-underline" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" style="color: #b03b18;">Manage Administrator</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" style="color: #41b018;">Manage Staff</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" style="color: #188db0;">Manage Agronomist</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" style="color: #8718b0;">Manage Guide</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Username
                </span>
              <input type="text" class="form-control" aria-label="username" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('username')" class="btn btn-outline-success" type="button" id="button-username">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Password
                </span>
              <input type="text" class="form-control" aria-label="password" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('password')" class="btn btn-outline-success" type="button" id="button-password">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    First Name
                </span>
              <input type="text" class="form-control" aria-label="first_name" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('first_name')" class="btn btn-outline-success" type="button" id="button-first_name">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Last Name
                </span>
              <input type="text" class="form-control" aria-label="last_name" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('last_name')" class="btn btn-outline-success" type="button" id="button-last_name">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Email
                </span>
              <input type="text" class="form-control" aria-label="email" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('email')" class="btn btn-outline-success" type="button" id="button-email">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Work Phone Number
                </span>
              <input type="text" class="form-control" aria-label="work_phone_number" aria-describedby="button-addon2" readonly>
              <button onclick="toggleEdit('work_phone_number')" class="btn btn-outline-success" type="button" id="button-work_phone_number">
              </button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Hire Date
                </span>
              <input type="text" class="form-control" aria-label="hire_date" aria-describedby="button-addon2" readonly>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Position
                </span>
              <input type="text" class="form-control" aria-label="position" aria-describedby="button-addon2" readonly>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">
                </span>
                <span class="input-group-text" id="basic-addon1">
                    Department
                </span>
              <input type="text" class="form-control" aria-label="department" aria-describedby="button-addon2" readonly>
            </div>
          </div>


          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

          </div>


          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

          </div>


          <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">

          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        // Fetch the administrator details when the page loads
        fetch('{{ url_for('admin_bp.get_administrator_info') }}')
            .then(response => response.json())
            .then(data => {
                // Assuming data is the details dictionary returned from the Flask route
                if(data) {
                    document.querySelector('input[aria-label="username"]').value = data.username || '';
                    document.querySelector('input[aria-label="first_name"]').value = data.first_name;
                    document.querySelector('input[aria-label="last_name"]').value = data.last_name;
                    document.querySelector('input[aria-label="email"]').value = data.email;
                    document.querySelector('input[aria-label="work_phone_number"]').value = data.work_phone_number;
                    document.querySelector('input[aria-label="hire_date"]').value = data.hire_date;
                    document.querySelector('input[aria-label="position"]').value = data.position;
                    document.querySelector('input[aria-label="department"]').value = data.department;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });



function toggleEdit(field) {
    var input = document.querySelector(`input[aria-label="${field}"]`);
    var button = document.querySelector(`#button-${field}`);
    if (input.hasAttribute('readonly')) {
        // Enable input
        input.removeAttribute('readonly');
        button.textContent = 'Save';
    } else {
        // Disable input and save changes
        input.setAttribute('readonly', 'readonly');
        button.textContent = 'Edit';
        updateAdministratorDetails(field, input.value);
    }
}

function updateAdministratorDetails(field, value) {
    fetch('/admin/update_administrator_details', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            // Add CSRF token header if needed
        },
        body: JSON.stringify({ field: field, value: value })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            alert('Details updated successfully');
        } else {
            alert('An error occurred');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

</script>
{% endblock %}