{% extends "agronomist/agronomist_base.html" %}

{% block title %}
Guide Details
{% endblock title %}

{% block style %}
<style>
  .custom-carousel-image {
    width: auto;
    height: 400px;
    object-fit: cover;
  }
</style>
{% endblock style %}

{% block active_guide %}active{% endblock active_guide %}
{% block active_guide_show %}show active{% endblock active_guide_show %}

{% block view_guide %}

<div class="row">
    <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ image.image_path }}" class="d-block  custom-carousel-image" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-type">Item Type</a>
        <a class="nav-link" href="#common-name">Common Name</a>
        <a class="nav-link" href="#scientific-name">Scientific Name</a>
        <a class="nav-link" href="#key-characteristics">Key Characteristics</a>
        <a class="nav-link" href="#biology">Biology</a>
        <a class="nav-link" href="#impacts">Impacts</a>
        <a class="nav-link" href="#control">Control</a>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <h4 id="item-type">{{ item_details.item_type }}</h4>
      <p>{{ item_details.item_type }}</p>

      <h4 id="common-name">{{ item_details.common_name }}</h4>
      <p>{{ item_details.common_name }}</p>

      <h4 id="scientific-name">{{ item_details.scientific_name }}</h4>
      <p>{{ item_details.scientific_name }}</p>

      <h4 id="key-characteristics">Key Characteristics</h4>
      <p>{{ item_details.key_characteristics }}</p>

      <h4 id="biology">Biology</h4>
      <p>{{ item_details.biology }}</p>

      <h4 id="impacts">Impacts</h4>
      <p>{{ item_details.impacts }}</p>

      <h4 id="control">Control</h4>
      <p>{{ item_details.control }}</p>
    </div>
  </div>
</div>


{% endblock view_guide %}

{% block scripts %}

{% endblock scripts %}