{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="card text-center mb-3">
                    <div class="card-header bg-success">
                        <a href="https://pixabay.com/zh/photos/" style="color: #FFFFFF;" class="me-2">Image</a>
                        <a href="https://www.iconfont.cn/" style="color: #FFFFFF;" class="me-2">SVG</a>
                        <a href="https://agpest.co.nz/pest-directory/" style="color: #FFFFFF;" class="me-2">Pest & Weed directory</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}